.root {
  background-color: #282c33;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  max-width: 1180px;
  margin: 0 auto;
  overflow-x: hidden;
}